@import "../../styles/_variables.scss";

.settingbar {
  position: absolute;
  top: $bar-height;
  width: 100%;
  height: $bar-height;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 8px 32px;
  box-shadow: 0 2px 8px gray;
  gap: 12px;
}

.input {
  max-width: 150px;
  width: min-content;
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid green;
  border-radius: 8px;
  gap: 8px;

  label {
    max-width: 64px;
    font-size: 14px;
    line-height: 16px;
    text-align: end;
  }

  input {
    text-align: center;
    padding: 2px 8px;
  }
}
