@import "../../styles/_variables.scss";

.canvas {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid black;
  border-radius: 16px;
  background-color: white;
}

.btn {
  justify-content: center;
}

.alert {
  position: absolute;
  left: 0;
  bottom: 0;
}
